/* http://hixie.ch/ "spaced out" stylesheet
 * (c) copyright 2000 by Ian Hickson
 * Distributed under the GPL licence
 * Modifications by Kai Hendry
 */

/* ----- Pure CSS tabs start here ----- */

#nav ul {
  display: block;
  list-style: none outside;
  padding: 1em 1em 1em 1em;
}

#nav li {
  padding: 0;
  margin: 0 4px 4px 0;
  border: 0.1em solid #6CF;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  /* the next 4 lines are magic */
  display: block;
  float: left;
  position: relative;
  top: -1.32em;
}

#nav a:link,
#nav a:visited {
  background-color: #000066;
  color: #ffffff;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
}

#nav a:hover {
  background-color: #FC0;
  color: #000066;
}

#navclear {
  display: none;
}
html>body #navclear {
  display: block;
  clear: both;
}

/* POSITIONING 

h1 { float: left; width: auto; }
h2 { float: right; width: auto; }
*/

h3 { float: right; width: auto; }
h4 { width: auto; }

/* SPACING */
html { padding: 0 50px 0 0; }
body { margin: 1em; }
.body { margin: 2em 2em 2em 2em; }
dl { margin: 1em 0; }
dt { margin: 0.6em 0 0.1em 0; }
dt + dt { margin: 0.1em 0 0.1em 0; }
dd { margin: 0.1em 0 0.1em 2em; }
h3 { padding: 0 0 0 0; } 
.leftie { padding: 0 0 0 0; } 
.blosxomDate { clear: both; margin: 0.5em 0 0 0; display: block; }
form { margin: 0; }
table { border-spacing: 1em 0; border-collapse: collapse; }
pre, blockquote, table { margin: 0.25em 0 0.25em 2em; }
td { padding: 0.1em 0.5em; }
.entry { padding: 1em; }
/* INLINE LAYOUT */

img { vertical-align: text-bottom; }


/* DECORATION */
:link, :visited { text-decoration: underline; cursor: pointer; }
ul {list-style-type: disc;}
.menu li {display: inline; }
.powered li {display: inline; }
html { border-top: thick solid; border-bottom: thick solid;}
.story { border-bottom: thick dotted; }
h1 { display: inline; }
h3 { border-right: thick solid; border-left: thick solid; }
.leftie { border-right: thick solid; border-left: thick solid; }
h4 { display:inline; }
.blosxomDate { border-bottom: thick double; }
:link { text-decoration: none;}
:visited { text-decoration: none; }
.entry { border: thick dashed; }
pre { border: thin dashed; }
input[type="text"], textarea {
 border: 1px #FC0 solid;                                                                                                                                                
 padding-left: 0.1em;                                                                                                                                                   
 padding-right: 0.1em;                                                                                                                                                  
 width: 100%;                                                                                                                                                           
}

.searchform input[type=text] { width: 10% }

.blosxomComment { border: thin solid #FC0; }

/* FONTS -- use ems, and keep margins sane */
html { font-family: verdana, arial, sans-serif; }
body { font-size: 0.8em; font-weight: 800;}
h1 { font-size: 2em; font-weight: 800; }
h2 { font-size: 1.75em; font-weight: 800; }
h3 { font-size: 1.75em; font-weight: 800; text-decoration: none; }
h4 { font-size: 1.25em; font-weight: 800; }
h6 { font-size: 1em; font-weight: 800; }
.blosxomDate { font-size: 1.55em; font-weight: 800; }
blockquote { font-style: italic; }
kbd { font-weight: bolder; }
code.comment { font-style: oblique; }
img.insert { border: thick solid #FC0; margin: auto;} 
pre  { font-family: monospace; } 

/* COLOUR */

html { color: white; background-color: #006; }
li { background: #006;}
:link { color: #F63; background: #006; }
:visited { color: #6CF; background: #006; }
:link:active, :visited:active, :link:hover, :visited:hover { color: #FC0; background: black; }
input.required[value=""] { border-color: red; }
code.string.literal { color: black; background: #EEEEFF; }
h1, h2, h3, h4, h5, h6 { color: #FC0; background: #006; border-color: #FC0; }
.blosxomDate { color: #FC0; background: #006; border-color: #FC0; }
html { border-color: #FC0; }
.leftie {  color: #FC0; border-color: #FC0; }
.story { border-color: #FC0; }
.entry { background: black; color: white; }
pre { background: black; color: white; }


