html { border-top: solid thick #FC0; border-bottom: solid thick #FC0; }
body { margin: 2%; font: 90%/1.2 Verdana, Arial, Helvetica, sans-serif; color: white; background-color: #006; }
:link { color: #F63; background: #006; }
:visited { color: #6CF; background: #006; }
:link:active, :visited:active, :link:hover, :visited:hover { color: #FC0; background: black; }
h1, h2, h3, h4, h5, h6 { color: #FC0; background: #006;}
pre {color: white; background: black; }


/* Blog prettier */
.meta { font-size: 60%;}
.menu {float: right; }
