html { border-top: solid thick #FC0; border-bottom: solid thick #FC0; color: white; background-color: #006; font: 85%/1.2 Verdana, Arial, Helvetica, sans-serif;}
body { margin: 2%; }
:link { color: #F63; background: #006; }
:visited { color: #6CF; background: #006; }
:link:active, :visited:active, :link:hover, :visited:hover { color: #FC0; background: black; }
h1, h2, h3, h4, h5, h6 { color: #FC0; background: #006;}
pre { font: 1.5em monospace; color: white; background: black; }


/* Blog prettier */
.meta {font-size: 60%;}
.post { float: left; margin: 2%; padding: 1%; border: solid medium #FC0; max-width: 40em;}
.entry {-moz-column-width:20em; -moz-column-gap:2em;}
#sidebar { float: left; margin: 2%; padding: 1%; border: solid medium #FC0; width: 20em; }
#sidebar ul {list-style: none; }
img { border: solid medium #FC0; }
