@page {
  margin: 7%;
 @footnotes {
   border-top: solid black thin;
   padding: 8pt 0 0 8pt;
 }
}

body {
  font-family: "DejaVu Sans Condensed", sans-serif;
  font-size: 11pt !important;
}

h1 { text-align: center; }

h1, h2, h3, h4, h5, h6 { font-weight: normal !important }

h3, h4 { margin-bottom: 0; font-size: 11pt; }

h4 { margin: 0.3em; font-style: italic }

#content a.external.text:after, #content a.external.autonumber:after {
  display: prince-footnote !important;
  content: " " attr(href) !important;
  font-weight: normal;
  font-style: normal;
}

ul { 
  list-style-type: disc !important;
  margin-left: 1.3em !important;
}

#footer { padding-top: 1em !important; text-align: center; }
#footer ul { 
  list-style-type: none !important;
  margin-left: 0 !important;
}
#footer li { display: inline !important }
#footer br { display: none ! important }
#privacy, #about, #disclaimer { display: none !important }

